* {
	margin: 0;
}

.sectionbodyH1 {
	margin: auto;
	position: relative;
	display: flex;
	justify-content: center;
	line-height: 3;
	font-size: xx-large;
}

.ladoAlado {
	width: 735px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 1px 10px rgb(0 0 0/ 20%);
	transition: all 400ms ease-out;
	cursor: default;
}

.imagemGrade {
	width: 320px;
	max-width: 320px;
	margin-bottom: 1rem !important;
	display: flex;
	position: relative;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border-radius: 0.25rem;
	box-sizing: border-box;
	flex: 1 1 auto;
	margin: 0 auto;
	margin-top: 20px;
}

.imgHash {
	border-radius: 0.25rem !important;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	box-sizing: border-box;
	flex: 0 0 auto;
}

.fileira {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: fixed;
	left: 55%;
	right: 50%;
}