*{
    padding: 0%;
    margin: 0%;
    
}
body{
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/imgs/senaiFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.divHeader{
        width: 100%;
        height: 60.5px;
        background-color: rgb(146,214,255);
}

.ulNavs{
    height:100%;
    padding: 10px;
    padding-top: 0%;    
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
}
.liNavs{
    
    padding: 1px;
    margin: 10px;
    
    border-radius: 2px;

}

.btNav{
    border-right: 2px solid rgb(255, 0, 0);
    border-top:2px solid rgba(0, 0, 0, 0);
    border-left:2px solid rgba(0, 0, 0, 0);
    border-bottom:2px solid rgba(0, 0, 0, 0);
    font-style: normal;
    border-radius: 2px;
    padding: 5px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.btNav:hover {
     border-right: 2px solid rgb(0, 119, 255);
    border-top:2px solid rgba(0, 0, 0, 0);
    border-left:2px solid rgba(0, 0, 0, 0);
    border-bottom:2px solid rgba(0, 0, 0, 0);

    border-radius: 2px;
    padding: 5px;
    background-color: transparent;
    color: aliceblue;
}
.h1Logo{
    color: aliceblue;
    width: 10px;
    float: left;
}
.inner{
    width: 30%;
    padding: 30px;
    height: 150px;
    font-size: 30px;

}
.imgLog{
    border-radius: 100%;
   height: 100px;
   width: 100px;
}
.divLogin{
    padding-top: 5%;
}
.h1Senai{
    color: rgb(255, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border-left: 5px solid rgb(254, 0, 0);
    border-right: 5px solid rgb(255, 0, 0);
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    text-align: center;
    border-style: double;
    
}
.botao{
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding: 2px;
    border-radius: 4px;
    width: 220px;
}
.botao:hover{
    background-color: transparent;
    color: rgb(255, 0, 0);
    border: none;
    padding: 6px;
    border-radius: 4px;
    width: 200px;
}
.imgLogo{
    padding: 10px ;
    padding-top: 15px;
    float: left;
}
.input100{
    width: 90%;
    font-size: 15px;
    padding: 12px;
    border-top: 0px solid red ;
    border-bottom: 1px solid rgb(0, 0, 0) ;
    border-left: 0px solid red ;
    border-right: 0px solid red ;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}
.divinputs{
    padding: 10000px;
    background-color: rgb(0, 255, 255);
    width: 500px;
    border: 3px solid rgb(0, 0, 0);
    border-style: dashed;
    border-radius: 20px;
    width: 314px;
}
.login100-form-btn{
    border: none;
    padding: 10PX;
    width: 95%;
    font-size: 20px;
    font-family: monospace;
}
.login100-form-btn:hover{
    border: none;
    padding: 10PX;
    width: 95%;
    color: white;
    background-color: rgb(146,214,255);

}
.login100-form-title{
    padding: 20px;
    text-align: center;
    font-size: 40px;
    border-radius: 10%;
    
}
.divinputs2{
    padding-top:50px ;
    
}
.divSpan{
}
.limiter{
    width: 25%;
    padding-left: 30%;
    padding-top: 100px;
}

.login100-form{
}
.divCriar{
    width: 100px;
    background-color: rgba(74, 76, 76, 0);
}
.divCadastrar{
    background-color: rgba(255, 166, 0, 0);
    width: 100%;
    padding: 10px;
}
.text-center{
    background-color: rgb(255, 0, 0);
    width: 1px;
}
.divForgot{
    width: 100px;
    float: left;
}
form{
    width: 500px;
    padding: 100px;
    border-radius: 50px;
    border: 2.5px solid red;
    border-style: dotted;
}
.ulNavscards{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}    
.liCards{
    margin: 60px;
}   