<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./login_user_adm.css">
<link rel="stylesheet" href="/headerAdm.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap"
	rel="stylesheet">
<title>Document</title>
</head>

<body>

	<div>
		<!-- HEADER -->
		<header id="header">
			<img src="/logo_senai_original.png" alt="Logo do Senai" width="100"
				class="imgLogo">
			<nav id="nav">
				<ul class="listaNav">
					<li class="current"><a href="#" class="aNav">Home</a></li>
					<li class="current"><a href="#" class="aNav">Login</a></li>
				</ul>
			</nav>
		</header>

		<!-- TÍTULO -->
		<h1 id="titulo">Login Adm</h1>

		<div class="divForm">
			<form action="/loginAdmin" class="form">
				<label for="" id="nif">NIF</label>
				<section>
					<input name="nif" type="text" required maxlength="9">
				</section>
				<br> <label for="" id="senha">Senha</label>
				<section>
					<input name="senha" type="password" required>
				</section>
				<button type="submit" id="button">Entrar</button>
			</form>
		</div>
	</div>
</body>

</html>