<!DOCTYPE html>
<html xmlns:th="http://thymeleafe.org">
<head>
<meta charset="utf-8">
<title>Lista De Administradores</title>

<style type="text/css">
td {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 5px;
}

th {
	background-color: black;
	color: white;
	padding: 12px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tabela {
	border: 3px solid blue;
	text-align: center;
	margin: auto;
	width: 80%;
}

a {
	text-decoration: none;
}

.nav {
	background: #202020;
	color: white;
}
</style>
<script src="/post.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
	integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

</head>
<body>

	<header>
		<nav class="nav">
			<div class="nav-wrapper">
				<a href="/logout" class="brand-logo right"> <i
					class="material-icons">exit_to_app</i></a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a href="/formAdmin">Cadastro de Adm</a></li>
					<li><a href="/formUsuario">Cadastro de Usuario</a></li>
					<li><a href="/listarAdmin/1">Listar Administrador</a></li>
					<li><a href="/listarUsuario/1">Listar Usuarios</a></li>



				</ul>
			</div>
		</nav>
	</header>

	<div class="pull-right">

		<button data-toggle="modal" data-target="#modalForm" type="button">Modal</button>

	</div>

	<div id="modalForm" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Cadastrar Novo Usuario</h5>
				</div>
				<div class="modal-body">

					<form method="post" action="/salvarAdmin">

						<input placeholder="nome" name="nome" type="text">
						<input placeholder="nif" name="nif" type="text" maxlength="7" minlength="7">
						<input name="senha" placeholder="senha" type="text">
						<button type="submit" class="btn btn-primary">Cadastrar</button>
					</form>

				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>


	<table border="1" class="tabela">
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Nif</th>

			<th>Alterar</th>
			<th>Excluir</th>


		</tr>


		<!-- each é uma "estrutura" de repetição -->
		<tr th:each="a: ${admin}">
			<td th:text="${a.id}"></td>
			<td th:text="${a.nome}"></td>
			<td th:text="${a.nif}"></td>


			<td><button onclick="atualizarUsuario()" id="btnALterar">Alterar</button></td>
			<td><a th:href="@{/excluirAdmin(id=${a.id})}">Excluir</a></td>



		</tr>


	</table>

</body>
</html>