
<!DOCTYPE html>
<html xmlns:th="http://thymeleafe.org">

<head>
<title>Portal Auditório</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styleL.css">
<link rel="stylesheet" href="./login_user_adm.css">
<link rel="stylesheet" href="/headerAdm.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<script type="text/javascript" src="/usuariolog.js"></script>

<title>Login</title>



</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Portal Auditório</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div style="background-image: url(/senaiLogo.png);"
							class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">

						</div>
						<div class="login-wrap p-4 p-lg-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Login</h3>
								</div>

							</div>
							<form action="/loginUsuario" class="signin-form">
								<div class="form-group mb-3">
									<label class="label" for="name">Nif</label> <input id="nif"
										type="text" class="form-control" placeholder="Nif" required>
								</div>
								<div class="form-group mb-3">
									<label class="label" for="password">Senha</label> <input
										type="password" id="senha" class="form-control"
										placeholder="Senha" required>
								</div>
								<div class="form-group">
									<button type="submit" onclick="logarUsuario()"
										class="form-control btn btn-primary submit px-3">Logar</button>
								</div>
								<div class="form-group d-md-flex">
							</form>




						</div>

						<div class="w-50 text-md-right">
							<a type="button" data-toggle="modal" data-target="#modalExemplo"
								href="#">Esqueceu a Senha?</a>
						</div>
					</div>

				</div>
			</div>
		</div>
		</div>
		</div>
	</section>



	<script src="/jquery.minL.js"></script>
	<script src="/popperL.js"></script>
	<script src="/bootstrap.minL.js"></script>
	<script src="/mainL.js"></script>




	<div class="erro" th:if="${not #strings.isEmpty(mensagemErro)}">



		<span th:text="${mensagemErro}"></span>





	</div>



	<div class="erro" th:if="${not #strings.isEmpty(msg)}">



		<span th:text="${msg}"></span>





	</div>




	<div class="acesso" th:if="${not #strings.isEmpty(senha)}"
		th:text="${senha}">



		<span th:text="${senha}"></span>

	</div>



	<form action="/esquecerSenha">
		<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">INFORME O NIF</h5>




						<button type="button" class="close" data-dismiss="modal"
							aria-label="Fechar">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>




					<input name="nif" id="nif" type="text" maxlength="7" minLength="7"
						placeholder="Informe Seu Nif" class="modal-body nifSenha">
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Fechar</button>
						<button type="submit" class="btn btn-primary">Salvar
							mudanças</button>
					</div>
				</div>
			</div>
		</div>
	</form>







	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

</body>
</html>


