
<!doctype html>
<html lang="en">
<head>
<title>Portal Auditório</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styleL.css">
<link rel="stylesheet" href="./login_user_adm.css">
<link rel="stylesheet" href="/headerAdm.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap"
	rel="stylesheet">
<script type="text/javascript" src="/usuariolog.js"></script>

</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Portal Auditório</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div
							style="background-image: url(/senaiLogo.png);"
							class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">

						</div>
						<div class="login-wrap p-4 p-lg-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Login</h3>
								</div>

							</div>
							<form action="#" class="signin-form">
								<div class="form-group mb-3">
									<label class="label" for="name">Nif</label> <input id="nif"
										type="text" class="form-control" placeholder="Nif" required>
								</div>
								<div class="form-group mb-3">
									<label class="label" for="password">Senha</label> <input
										type="password" id="senha" class="form-control"
										placeholder="Senha" required>
								</div>
								<div class="form-group">
									<button type="button" onclick="logarUsuario()"
										class="form-control btn btn-primary submit px-3">Logar</button>
								</div>
								<div class="form-group d-md-flex">

									<div class="w-50 text-md-right">
										<a href="#">Esqueceu a Senha?</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/jquery.minL.js"></script>
	<script src="/popperL.js"></script>
	<script src="/bootstrap.minL.js"></script>
	<script src="/mainL.js"></script>

</body>
</html>

