<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/apiCss.css">
    <title>Consumo de Api do instagram</title>
</head>
<body>
    <header id="header">
        <img src="logo_senai_original.png" alt="Logo do Senai" width="100" class="imgLogo">
        <nav id="nav">
            <ul class="listaNav">
                <li class="current"><a class="aNav">Home</a></li>
                <li class="current"><a href="./login/loginUsuario.html" class="aNav">Login</a></li>
            </ul>
        </nav>
    </header>

    <section><h1 class="sectionbodyH1">#SenaiCotiaAuditorio</h1></section>
    
    <div class="row tabela">
            <div>
                <div id="insta"></div>
            </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/apiScript.js"></script>
</body>
</html>