<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HISTÓRICO</title>
<link rel="stylesheet" href="/stylehistorico.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
<link href="/demoPainel.css" rel="stylesheet" />
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<!-- CSS Files -->
<link href="/bootstrapPainel.min.css" rel="stylesheet" />
<link href="/painelAdm.css " rel="stylesheet" />
<link href="/demoPainel.css" rel="stylesheet" />
</head>
<body>
	<div class="wrapper">
		<div class="sidebar" data-image="../assets/img/senai.png">
			<!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
			<div class="sidebar-wrapper">
				<div class="logo">
					<img alt="" style="position: relative; left: 2.8em;" width="120"
						src="/logo_senai_original.png">"
				</div>
				<ul class="nav">
					<li class="nav-item active"><a class="nav-link"
						href="/listarHistorico/1"> <i class=" large material-icons">home</i>
							<p>Home</p>
					</a></li>



					<li><a class="nav-link" href="/painelReserva"><i
							class=" large material-icons">event_seat</i>
							<p>Auditório</p> </a></li>
					<li><a class="nav-link" href="/apiInsta"><i
							class="large material-icons">collections</i>
							<p>Hashtag</p> </a></li>

					<li><a class="nav-link" href="/"> <i
							class=" large material-icons">exit_to_app</i>
							<p>Sair</p>
					</a></li>


					<li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg " color-on-scroll="500">
				<div class="container-fluid">
					<a class="navbar-brand"> Painel </a>
					<div class="collapse navbar-collapse justify-content-end"
						id="navigation">
						<form action="/buscarHistorico" method="get">
							<div class="pesquisa">
								<i class="bi icone bi-search"></i> <input class="formcontrole"
									list="datalistOptions" id="search"
									placeholder="Busca por título ou pelo dia" type="search"
									name="parametro">
							</div>
						</form>

						<ul class="navbar-nav ml-auto">


							<li class="nav-item"><a class="nav-link" href="/logOut">
									<span class="no-icon"><i class=" medium material-icons">exit_to_app</i></span>
							</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<br> <br>
			<h1 class="bodyH1">Histórico de Eventos</h1>
			<br>
			<div class="containernovo">
				<!-- Card 1 -->
				<div th:each="lista:${historico}" class="card card-1">
					<!-- card-header -->
					<div class="card-header">
						<img th:src="${lista.verFotos[0]}" class="card-img" />
					</div>
					<!-- card-header -->

					<!-- card-body -->
					<div class="card-body">
						<h2 th:text="${lista.title}" class="card-titulo"></h2>
						<p th:text="${#temporals.format(lista.start)}" class="card-texto"></p>
						<p th:text="${#temporals.format(lista.end)}" class="card-texto"></p>
					</div>
					<!-- card-body -->

					<!-- card-footer -->
					<div class="card-footer">
						<form action="/salvarHistorico" method="post"
							class="formhistorico" enctype="multipart/form-data"
							accept-charset="utf-8">

							<div>
								<input type="hidden" th:value="${listaFoto?.fotos}" name="fotos" />
								<input type="hidden" name="idEvento" id="idEvento"
									th:value="${lista.id}">
							</div>
							<div>
								<div>
									<div class="containerhis">
										<input class="uploadhis" type="file" name="fileFotos" multiple
											accept="image/*">
									</div>
								</div>
							</div>
							<div>
								<a th:href="@{/excluirFotos(idFotos=${lista.id})}"><button
										class="classExcluir">
										<i class="material-icons">delete</i>
									</button></a>
							</div>
							<br />
							<button class="salvarafoto" type="submit">Salvar</button>
						</form>
					</div>
					<!-- card-footer -->
				</div>
			</div>
</body>
</html>