<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Historico</title>
<link rel="stylesheet" href="/headerPadraoUser.css">
<link rel="stylesheet" href="/lista.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
	integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
	crossorigin="anonymous">
<!-- Compiled and minified CSS -->
<!-- <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<style type="text/css">
.no-gutters {
	border: 4px solid black;
}
</style>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

</head>
<body>
	<header id="header">
		<img src="/logo_senai_original.png" alt="Logo do Senai" width="100"
			class="imgLogo">
		<nav id="nav">
			<ul class="listaNav">
				<li class="current"><a class="aNav">Home</a></li>
				<li class="current"><a href="./login/loginUsuario.html"
					class="aNav">Login</a></li>
			</ul>
		</nav>
	</header>
	<form action="/buscarHistorico" method="get">
		<div class="pesquisa">
			<i class="bi icone bi-search"></i> <input class="form-control"
				list="datalistOptions" id="search"
				placeholder="Busca por título ou pela data de ínicio" type="search"
				name="parametro">
		</div>
	</form>
	<br>
	<br>
	<h1 class="bodyH1">Histórico de Eventos</h1>
	<br>
	<br>
	<div class="card mb-3" style="max-width: 540px;">
		<div th:each="lista:${historico}" class="row no-gutters">
			<div class="col-md-4">
				<img width="150px" th:src="${lista.verFotos[0]}">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title" th:text="${lista.title}"></h5>
					<p class="card-text" th:text="${#temporals.format(lista.start)}"></p>
					<p class="card-text" th:text="${#temporals.format(lista.end)}"></p>

					<form action="/salvarHistorico" method="post"
						enctype="multipart/form-data" accept-charset="utf-8">

						<div class="row">

							<input type="hidden" th:value="${listaFoto?.fotos}" name="fotos" />
							<input type="hidden" name="idEvento" id="idEvento"
								th:value="${lista.id}">
						</div>
						<div class="row">
							<div class="file-field input-field col s12">
								<div class="indigo lighten-3  waves-light btn-small">
									<span>Fotos</span> <input type="file" name="fileFotos" multiple
										accept="image/*">
								</div>
							</div>
						</div>
						<br />
						<button class="indigo darken-1 waves-light btn" type="submit">
							<i class="material-icons left">save</i>Salvar
						</button>
					</form>
				</div>
			</div>
		</div>

	</div>

	<ul class="pagination" style="padding: 400px 0px 0px;">
		<li th:class="${paginaAtual == 1 ? 'disabled' : ''}"><a
			th:href="${paginaAtual > 1 ? paginaAtual - 1 : '#'}"><i
				class="material-icons">chevron_left</i></a></li>


		<li th:each="p:${numPaginas}"
			th:class="${paginaAtual == p ? 'active' : ''}"><a th:href="${p}"><span
				th:text="${p}"></span></a></li>


		<li th:class="${paginaAtual == totalPaginas ? 'disabled' : ''}">
			<a th:href="${paginaAtual < totalPaginas ? paginaAtual + 1 : '#'}"><i
				class="material-icons">chevron_right</i></a>
		</li>
	</ul>
</body>
</html>